/* #main-content{
  height: 100vh;
} */

#root {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
  "header"
  "content"
  "footer";
  grid-template-rows: auto 1fr auto;
}

.maxwidth-wrap {
  width: 100%;
  max-width: 94%;
  margin: 0 auto;
}