


.hero{
  height: 100vh;
  position: sticky;
  top: 0px;
  object-fit: cover;
  z-index: -1;
}

.text-overlay{
  width: 60%;
  height: auto;
  margin: -100vh auto 0;
  position: sticky;
  border-top: 2px solid chartreuse;

}