<div class="hero" id="hero">

  <div class="background" id="background">
    <img src="../../images/hero-large@2x.png"/>
  </div>
  <div class="wave2" id="wave2">
    <img src="../../images/wave22.png"/>
  </div>
  <div class="color-transition" id="color-transition">
    <img src="../../images/color-transition2.png"/>
  </div>
  
  
</div>

<!-- <div class="text-overlay" id="text-overlay">
  <img src="../../images/visit-mexico.svg" alt="visit mexico">
</div> -->

<div class="body-copy">
  <p>Lorem ipsum dolor sit amet, sanctus invenire inimicus duo id, ei vocibus intellegat sit. Qui et error sonet virtute, eu per cibo doming labitur. Et vis fastidii elaboraret. Reque putent indoctum nam ne, ex vel ullum assentior disputando.
  </p>
</div>

      