<div class="hero">
  <picture>
    <source media="(min-width: 1024px)" srcset="../../images/hero-large.png, ../../images/hero-large@2x.png 2x">
    <source media="(min-width: 720px)" srcset="../../images/hero-medium.png, ../../images/hero-medium@2x.png 2x">
    <source media="(min-width: 500px)" srcset="../../images/hero-small.png, ../../images/hero-small@2x.png 2x">
    <img srcset="../../images/hero-xsmall.png, ../../images/hero-xsmall@2x.png 2x" alt="looking down at beach">
  </picture>
</div>
      
<div class="text-overlay"><img src="../../images/visit-mexico.svg" alt="visit mexico"></div>
<div>

<div>
  <p>Lorem ipsum dolor sit amet, sanctus invenire inimicus duo id, ei vocibus intellegat sit. Qui et error sonet virtute, eu per cibo doming labitur. Et vis fastidii elaboraret. Reque putent indoctum nam ne, ex vel ullum assentior disputando.</p>
  <p>Ut mea velit bonorum hendrerit. Accumsan argumentum ut est. Sed an doctus timeam constituto. His quod senserit ne, has no diam lorem. Sea dicat ullamcorper te, ad ius mundi equidem noluisse, eum no aeque feugiat mediocritatem.</p>
  <p>Definitionem delicatissimi mei te, at latine admodum menandri vis. Quo noster copiosae perpetua id, et pri cibo option, ex eripuit placerat molestiae sed. Duo ea delicata moderatius, nam tibique albucius maluisset ad.</p>
</div>