<div class="maxwidth-wrap header-flex">
    <div id="logo"><img src="../../images/vm-logo.svg" alt="visit mexico logo">
    </div>
    <ul>
        <li>
            Welcome
        </li>

        <li>
          Attractions
        </li>
    </ul>
    
    <div class="text-overlay" id="text-overlay">
        <img src="../../images/visit-mexico.svg" alt="visit mexico">
    </div>

    <ul>
        <li>
            Food & Drink
        </li>

        <li>
            Visit
        </li>
    </ul>
</div>