header {
  background-color: rgba(5,5,5,.1);
}
  .header-flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;
  }
  ul {
      list-style: none;
  }
li {
  display: inline-block;
}

li > img{
  width: 3rem;
  color: rgb(255,51,0);
}
  
